*{
    margin : 0 ;
    padding: 0 ;
}

html , body{
    height : 100% ; 
    width : 100%
};

.button{
    background-color: blue;
    color : white;
    border : 2px solid black;
    padding : 10px 20px;   
    font-size : 20px; 
}